<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body { padding-top:80px; word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container">

    <div class="row">

      <!-- SPOTIFY INFORMATION -->
      <div class="col-sm-12">
        <h1 class="text-primary"><span class="fa fa-spotify"></span>Welcome to <%= playlist %></h1>

        <div class="well">
          <ul style="list-style-type: none; list-style: none; padding-left: 3px;">
            <% for(var i=0; i < tracks.length; i++) {%>
               <li style="display: block; position: relative; width: 100%;">
                <div class="track" data-track-uris="<%= tracks[i].track.uri %>">
                  <%= tracks[i].track.name %> - <%= tracks[i].track.artists[0].name %> ( <%= tracks[i].track.album.name %> )</div>
              </li>
            <% } %>
          </ul>
        </div>
      </div>

    </div>

  </div>
</body>
</html>
